.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.tc{
  text-align: center;
}

h1, h3, p{
  margin: 1em 0;
}

img {
  height: 200px;
}

#why .col-lg-12{
  margin-top: 80px;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

.grey {
  background-color: #f9f9f9;
}

@media all and (max-width: 768px){

  body{
    font-size: 12px;
  }

  img {
    height: 100px;
    margin: 10px;
  }

  .row {
    margin-top: 0;
    padding:10px;
    }

  .grey {
    background-color: white;
  }

  #lezioni, #why{
    background-color: #f2f2cd;
  }

  #why .col-xs-12 {
    margin-top: 10px;
  }
}
